.app{
    width: 1000px;
    background-color: aqua;
    margin: 0 auto;
}
.blue{
    background: blue;
    height: 100px;
}
.green{
    background: green;
    height: 100px;
}
.red{
    background: red;
    height: 100px;
}


